## این فایل را به local.properties تغییر نام دهید و مسیر SDK خودتان را وارد کنید.
# sdk.dir=C\:\\Users\\YOU\\AppData\\Local\\Android\\Sdk
# sdk.dir=/home/USER/Android/Sdk
# sdk.dir=/Users/USER/Library/Android/sdk
